@import './helpers/_reset';
@import './helpers/_variables';
@import './helpers/_modules';


.container{
    width:640px;
    margin:3rem auto;
}

.container--group{
    transform:translateY(-50%);
    top:50%;
    width:350px;
    .container--input{
        width:50%;
    }
    .container--button{
        padding:0.5rem 1rem;
        &:hover{
            cursor: pointer;
        }
    }
}




